@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@import "tailwindcss";

/* LIGHT THEME */
@theme {
  --color-text: #260a08;
  --color-background: #f9f6f6;
  --color-primary: #981b1d;
  --color-secondary: #bdbfc1;
  --color-accent: #e6c865;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

img {
  width: 100%;
  height: auto;
}
